<!-- start footer -->
<footer class="bg-primary">
    <div class="d-flex align-items-center align-self-stretch justify-content-between">
      <div class="group w-100 flex-grow-1">
        <div class="menus d-flex justify-content-between">
          <ul class="menu-group list-unstyled p-0">
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">About Us</a>
            </li>
            <li>
              <a href="/admission" class="text-decoration-none w-100 text-white position-relative">Admissions</a>
            </li>
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">Learning Journey</a>
            </li>
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">Work With Us</a>
            </li>
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">News & Media</a>
            </li>
          </ul>
          <ul class="menu-group list-unstyled p-0">
            <li>
              <a href="" class="text-decoration-none w-100 text-white position-relative">About Us</a>
            </li>
            <li>
              <a href="/admission" class="text-decoration-none w-100 text-white position-relative">Admissions</a>
            </li>
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">Learning Journey</a>
            </li>
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">Work With Us</a>
            </li>
            <li>
              <a href="/" class="text-decoration-none w-100 text-white position-relative">News & Media</a>
            </li>
          </ul>
        </div>
        <div class="logo d-flex gap-3 align-items-center">
          <picture> 
            <source media="(min-width: 576px)" srcset="theme/images/CIS-Logo-02.svg">
            <img src="/theme/images/cis-small.png" alt="" width="223.884px">
          </picture>
          <picture>
            <source media="(min-width: 576px)" srcset="theme/images/White.svg">
            <img src="/theme/images/ib-small.png" alt="" width="70px">
          </picture>
        </div>
      </div>
      <img src="/theme/images/footer.png" alt="" class="footer-image d-none">
    </div>
    <div class="social-media">
      <div class="social-group d-flex justify-content-between align-items-center flex-column flex-lg-row gap-3 gap-lg-0">
        <div class="social d-flex gap-3">
          <a href="" class="text-decoration-none">
            <img src="/theme/images/facebook.svg" alt="">
          </a>
          <a href="" class="text-decoration-none">
            <img src="/theme/images/instegram.svg" alt="">
          </a>
          <a href="" class="text-decoration-none">
            <img src="/theme/images/linkdin.svg" alt="">
          </a>
          <a href="" class="text-decoration-none">
            <img src="/theme/images/twitter.svg" alt="">
          </a>
        </div>
        <div class="links d-flex flex-wrap justify-content-center gap-3">
          <a href="/" class="text-decoration-none">Privacy Policy</a>
          <a href="/" class="text-decoration-none">Terms & Conditions</a>
          <a href="/" class="text-decoration-none">@Copyright MISK 2023-2024. All Rights Reserved</a>
        </div>
      </div>
    </div>
</footer>
<!-- end footer -->