// start colors

// primary
$primary: #00372A;
$primary-hover: #C2D500;

//secondary
$secondary: #21B592;
$secondary-hover: #21B592;

//tertiary
$tertiary: #E4ECEA;
$tertiary-hover: #DBEAE6;

//alerts
$success: #198754;
$info: #0DCAF0;
$warning: #FFCD39;
$danger: #B02A37;

//blue
$blue: #0D6EFD;
$blue-100: #CFE2FF;
$blue-200: #9EC5FE;
$blue-300: #6EA8FE;

$blue-400: #3D8BFD;
$blue-500: $blue;
$blue-600: #0A58CA;
$blue-700: #084298;
$blue-800: #052C65;
$blue-900: #031633;

//indigo
$indigo: #6610F2;
$indigo-100: #E0CFFC;
$indigo-200: #C29FFA;
$indigo-300: #A370F7;
$indigo-400: #8540F5;
$indigo-500: $indigo;
$indigo-600: #520DC2;
$indigo-700: #3D0A91;
$indigo-800: #290661;
$indigo-900: #140330;

//purple
$purple: #6F42C1;
$purple-100: #E2D9F3;
$purple-200: #C5B3E6;
$purple-300: #A98EDA;
$purple-400: #8C68CD;
$purple-500: $purple;
$purple-600: #59359A;
$purple-700: #432874;
$purple-800: #2C1A4D;
$purple-900: #160D27;

//red
$red: #DC3545;
$red-100: #F8D7DA;
$red-200: #F1AEB5;
$red-300: #EA868F;
$red-400: #E35D6A;
$red-500: $red;
$red-600: #B02A37;
$red-700: #842029;
$red-800: #58151C;
$red-900: #2C0B0E;

//orange
$orange: #FD7E14;
$orang-100: #FFE5D0;
$orange-200: #FECBA1;
$orange-300: #FEB272;
$orange-400: #FD9843;
$orange-500: $orange;
$orange-600: #CA6510;
$orange-700: #984C0C;
$orange-800: #653208;
$orange-900: #331904;

//teal
$teal: #20C997;
$teal-100: #D2F4EA;
$teal-200: #A6E9D5;
$teal-300: #79DFC1;
$teal-400: #4DD4AC;
$teal-500: #20C997;
$teal-600: #1AA179;
$teal-700: #13795B;
$teal-800: #0D503C;
$teal-900: #06281E;

// Misk Schools and AEON Partner for Climate Education 
$cyan: #0DCAF0;
$cyan-100: #CFF4FC;
$cyan-200: #9EEAF9;
$cyan-300: #6EDFF6;
$cyan-400: #3DD5F3;
$cyan-500: $cyan;
$cyan-600: #0AA2C0;
$cyan-700: #087990;
$cyan-800: #055160;
$cyan-900: #032830;

//gray
$gray: #ADB5BD;
$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: $gray;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

// end colors