.form{
    padding-inline: 150px;
    form{
        width: 750px;
        .input-box{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

.fees{
    padding-left: 150px;
    width: 945px;
    p{
        width: 643px;
    }
    table{
        width: 643px;
    }
}

.fees-details{
    ul{
        flex: 1 0 0;
    }
}

@include media-breakpoint-down(lg){
    .form{
        flex-direction: column;
        padding-inline: 15px;
        form{
            width: 100%;
            .input-box{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }

    .fees{
        padding-left: 15px;
        width: 100%;
        p{
            width: 100%;
        }
        .table-responsive{
            max-width: 100%;
            overflow-x: auto;
            table{
                width: 95%;
            }
        }
    }
}