.hero-title{
    @include font-size($hero-title-font-size);
    font-weight: $hero-font-weight;
}
.hero-body{
    @include font-size($hero-body-font-size)
}

.blockquote{
    line-height: 2.34;
    padding-left: 30px;
    border-left: 2px solid $dark;
    footer{
        font-size: $blockqoute-footer-font-size
    }
}

.home-container{
    padding-top: 100px;
    @include media-breakpoint-down(sm){
        padding-top: 50px;
    }
}


.hero{
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    h2{
        color: $white;
    }
    .overlay{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 2.22%, rgba(0, 0, 0, 0.50) 73.4%);
    }

    .hero-content{
        padding: 0 150px 80px 150px;
        .hero-title{
            width: 762px;
        }
    }

    @include media-breakpoint-down(lg){
        .hero-content{
            padding: 0 15px 50px 15px;
            .hero-title{
                width: 100%;
            }
        }
    }
}

.glance{
    h2{
        color: $white;
    }
    .stats{
        padding: 50px 30px 50px 30px;
        .stats-body{
            margin: 30px 30px 50px 30px;
            gap: 100px;
            p{
                &:first-of-type{
                    font-weight: 600;
                }
            }
        }

        @include media-breakpoint-down(sm){
            .stats-body{
                gap: 20px;
            }
        }
    }
}

.text-and-image{
    img{
        width: 100%;
    }
    .text{
        flex: 1;
        gap: 20px;
        padding: 30px;
    }
    @include media-breakpoint-up(lg){
        img{
            width: 608px;
        }
        .text{
            padding: 50px;
            p{
                width: 632px;
                gap: 33px;
            }
        }
    }
}


.partners{
    .container{
        padding-block: 30px;
        .logos{
            width: 792px;
            gap: 30px;
            > div{
                width: 165px;
                height: 140px;
                padding-left: 8px;
                padding-right: 7px;
            }
        }
    }
}