.home-container{
    padding-top: 100px;
    @include media-breakpoint-down(sm){
        padding-top: 50px;
    }
}


.hero{
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    h2{
        color: $white;
    }
    .overlay{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 2.22%, rgba(0, 0, 0, 0.50) 73.4%);
    }

    .hero-content{
        padding: 0 150px 80px 150px;
        .hero-title{
            width: 762px;
        }
    }

    @include media-breakpoint-down(lg){
        .hero-content{
            padding: 0 15px 50px 15px;
            .hero-title{
                width: 100%;
            }
        }
    }
}

.glance{
    h2{
        color: $white;
    }
    .stats{
        padding: 50px 30px 50px 30px;
        .stats-body{
            margin: 30px 30px 50px 30px;
            gap: 100px;
            p{
                &:first-of-type{
                    font-weight: 600;
                }
            }
        }

        @include media-breakpoint-down(sm){
            .stats-body{
                gap: 20px;
            }
        }
    }
}

.text-and-image{
    .image{
        width: 100%;
    }
    .text{
        flex: 1;
        gap: 20px;
        padding: 30px;
    }
    @include media-breakpoint-up(lg){
        .image{
            width: 608px;
        }
        .text{
            padding: 50px;
            p{
                width: 632px;
                gap: 33px;
            }
            > div{
                .arrow , a{
                    transition: opacity 0.3s ease-in-out;
                }
                &:hover{
                    .arrow{
                        &:first-of-type{
                            opacity: 1 !important;
                        }
                        &:last-of-type{
                            opacity: 0;
                        }
                    }
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


.partners{
    .container{
        padding-block: 30px;
        .logos{
            width: 792px;
            gap: 30px;
            > div{
                width: 165px;
                height: 140px;
                padding-left: 8px;
                padding-right: 7px;
                transition: 0.5s;
                &:hover{
                    border-radius: 10px;
                    box-shadow: 0px 5px 15px rgba(1 1 1 /15%);
                }
            }
        }
    }
}