.news{
    .page-container{
        gap: 50px;
    }
    .hero-title{
        width: 1140px;
    }
    .banner{
        .rectangle{
            height: 821.463px;
        }
    }
    .content{
        padding-left: 150px;
        article{
            width: 945px;
        }
    }
    @include media-breakpoint-down(lg){
        .hero-title{
            width: 100%;
        }
        .banner{
            .rectangle{
                height: 600px;
            }
        }
        .content{
            padding-left: 15px;
            article{
                width: 100%;
            }
        }
    }
}