button:not(.navbar-toggler){
    margin-top: 31px;
    background-color: $primary;
    padding: 15px 25px;
    border-radius: 30px;
    color: $white;
    transition: .5s;
    &:hover{
        background-color: $primary-hover;
        color: $black;
    }
    border: 0;
}