button:not(.navbar-toggler ,.carousel-control-next ,.carousel-control-prev){
    margin-top: 31px;
    background-color: $primary;
    &:hover{
        background-color: $primary-hover;
        color: $black;
    }
    border: 0;
}