a{
    font-weight: $link-font-weight;
    @include media-breakpoint-down(sm){
        font-size:  $link-font-size-sm;
    }
}
ul{
    padding: 0;
}

.text-primary-hover{
    color: $primary-hover;
}

.bg-primary-hover{
    background-color: $primary-hover;
}

.border-primary-hover{
    border-color: $primary-hover !important;
}

.page-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@include media-breakpoint-down(sm){
    .page-container{
        gap: 50px;
    }
}

.hero-title{
    @include font-size($hero-title-font-size);
    font-weight: $hero-font-weight;
}
.hero-body{
    @include font-size($hero-body-font-size)
}

.blockquote{
    line-height: 2.34;
    padding-left: 30px;
    border-left: 2px solid $dark;
    footer{
        @include font-size($blockqoute-footer-font-size);
    }
}