a{
    font-weight: $link-font-weight;
    @include media-breakpoint-down(sm){
        font-size:  $link-font-size-sm;
    }
}

.text-primary-hover{
    color: $primary-hover;
}

.bg-primary-hover{
    background-color: $primary-hover;
}

.border-primary-hover{
    border-color: $primary-hover !important;
}

.page-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@include media-breakpoint-down(sm){
    .page-container{
        gap: 50px;
    }
}

.hero-title{
    @include font-size($hero-title-font-size);
    font-weight: $hero-font-weight;
}
.hero-body{
    @include font-size($hero-body-font-size)
}

.blockquote{
    line-height: 2.34;
    padding-left: 30px;
    border-left: 2px solid $dark;
    footer{
        @include font-size($blockqoute-footer-font-size);
    }
}


p{
    @include font-size($font-size-sm);
}

.banner{
    padding-top: 234px;
    gap: 50px;
    .rectangle{
        background-color: $tertiary-hover;
        height: 646.163px;
    }
    .hero-title{
        padding-left: 150px;
    }
    .group-banner{
        height: 581px;
        .image-container{
            img{
                border-radius: 7px;
            }
        }   
    }
    .image-container{
        padding-left: 150px;
    }
    .info{
        display: flex;
        width: 900px;
        padding: 10px 30px 10px 150px;
        justify-content: space-between;
        align-items: center;
    }
}

@include media-breakpoint-down(lg){
    .banner{
        padding-top: 100px;
        .rectangle{
            height: 400px;
        }
        .info{
            width: 100%;
            flex-direction: column;
            gap: 20px;
            padding: 10px 15px;
            margin-bottom: 10px;
        }
        .group-banner{
            height: 100%;
            .image-container{
                img{
                    width: 100%;
                }
            }
        }
        .image-container{
            padding-inline: 15px;
        }
        .hero-title{
            padding-left: 15px;
        }
    }
}