.featured{
    width: 100%;
    h2{
        margin-bottom: 31px;
    }
    .news{
        .date{
            padding-inline: 10px;
            padding-block: 3px;
            left: 40px;
            bottom: 40px;
        }
        .link{
            img{
                width: 9.36px;
                height: 12px;
            }
            .arrow{
                transition: opacity 0.3s ease-in-out;
                &:first-of-type{
                    opacity: 0;
                }
            }
        }
        .news-item{
            &:hover{
                    .arrow{
                        &:first-of-type{
                            opacity: 1 !important;
                        }
                        &:last-of-type{
                            opacity: 0;
                        }
                    }
                    a{
                        text-decoration: none;
                    }
            }
        }
        > div{
            width: 100%;
            gap: 30px;
            p{
                @include font-size(1.6875rem);
                margin-block: 30px;
            }
        }
        @include media-breakpoint-up(lg){
            .news-item{
                &.active{
                    height: 788.16px;
                    .news-image{
                        height: 661.19px;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            > div{
                height: 490px;
                gap:  15px;
            }
            .news-item{
                &.active{
                    height: 474px;
                    .news-image{
                        height: 235px;  
                    }
                }
            }
        }
    }
    .arrows{
        gap: 20px;
        margin-top: 31px;
        .my-icon{
            path{
                transition: fill 0.3s ease-in-out; 
            }
            &:hover{
                cursor: pointer;
                path{
                    fill: $primary-hover !important;
                }
            };
        }
    }
}