.featured{
    .news{
        .date{
            left: 40px;
            bottom: 40px;
        }
        .link{
            .arrow{
                transition: opacity 0.3s ease-in-out;
            }
        }
        .news-item{
            .image-container{
                transition: transform 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.05);
                }
            }
            &:hover{
                    .arrow{
                        &:first-of-type{
                            opacity: 1 !important;
                        }
                        &:last-of-type{
                            opacity: 0;
                        }
                    }
                    a{
                        text-decoration: none;
                    }
            }
        }
        > div{
            p{
                @include font-size(1.6875rem);
            }
        }
        @include media-breakpoint-up(lg){
            .news-item{
                height: 461px;
                .news-image{
                    height: 311px;
                }
                &.active{
                    height: 700px;
                    .news-image{
                        height: 550px;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            > div{
                height: 490px;
                gap:  15px;
            }
            .news-item{
                &.active{
                    height: 474px;
                    .news-image{
                        height: 235px;  
                    }
                }
            }
        }
    }
    .arrows{
        .my-icon{
            path{
                transition: fill 0.3s ease-in-out; 
            }
            &:hover{
                cursor: pointer;
                path{
                    fill: $primary-hover !important;
                }
            };
        }
    }
}