.featured{
    h2{
        margin-bottom: 31px;
    }
    .news{
        .date{
            padding-inline: 10px;
            padding-block: 3px;
            left: 40px;
            bottom: 40px;
        }
        .link{
            img{
                width: 9.36px;
                height: 12px;
            }
        }
        > div{
            width: 100%;
            gap: 30px;
            p{
                @include font-size(1.6875rem);
                margin-block: 30px;
            }
        }
        .arrows{
            gap: 20px;
            margin-top: 31px;
        }
        @include media-breakpoint-down(sm){
            > div{
                height: 490px;
                gap:  15px;
            }
        }
    }
}