footer {
  height: 480px;
    .group {
      padding: 30px;      
      @include media-breakpoint-down(sm){
        font-size: 1.375rem;
      }
      ul {
        padding: 0;
        list-style: none;
        li:not(:last-of-type) {
          padding-bottom: 15px;
        }
        a {
          color: $white;
          text-decoration: none;
          transition: 0.5s;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            height: 2px;
            width: 100%;
            background-color: $white;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }
          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
  
    .footer-image {
        display: none;
        width: 662px;
        height: 390px;
        flex-shrink: 0;
    }

    .social-media{
        background: $primary-hover;
        padding: 30px 15px;
      .links{
        a{
          font-size: $link-font-size-sm;
          text-decoration: none;
          font-weight: $font-weight-light;
        }
      }
    }
    ;
    @include media-breakpoint-up(lg){
      .group{
        padding: 50px 150px;
        width: 844px; 
      }
      .footer-image{
        display: block;
      }
      .social-media{
        padding: 30px 150px;
      }
    }
}