.burger-menu svg{
    width: 164px;
    height: 58px;
}


.navbar-collapse {
  height: 650px;
  flex-direction: column;

  &.show{
    display: flex;
  }
  a {
    text-decoration: none;
    color: $white;
    display: block;
    margin: 15px 0;
    font-weight: bold;
    position: relative;

    img{
      rotate: 90deg;
    }
  
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover{
      &::after{
        opacity: 1;
      }
    }
    &.show{
      &::after{
        opacity: 1;
        background-color: $primary-hover;   
      }
      img{
        rotate: 270deg;
      }
    }
  }
}

.dropdown-menu {
  background-color: transparent !important;
  border: 0 !important;
  &:hover{
    background-color: transparent !important;
  }
}

.close-menu {
  font-size: 3rem;
  cursor: pointer;
}

.menu-header {
  margin-bottom: 15px;
  img{
    width: 150px;
    height: 48px;
  }
}


.search-container {
  position: absolute;
  flex-direction: column;
  z-index: 3;

  &.show{
    display: flex;
  }

  padding: 15px;
  border-top: 1px solid $primary-hover;

  input {
    padding: 10px;
  }
}


.navbar {
  .logo{
    width: 150px;
    height: 48px;
  }

  .navbar-toggler img{
    width: 36.444px;
    height: 36.444px;
  }

  @include media-breakpoint-down(sm){
    width: 100% !important;
    left: 0 !important;
  }
}

.dropdown-item{
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-left: 10px;
  }
  &:hover{
    color: $white;
    &::after{
      opacity: 1;
    }
  }
}
