.navbar-collapse {
  height: 650px;

  &.show{
    display: flex;
  }
  a {
    margin: 15px 0;

    img{
      rotate: 90deg;
    }
  
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover , &.show{
      &::after{
        opacity: 1;
      }
    }
    &.show{
      &::after{
        background-color: $primary-hover;   
      }
      img{
        rotate: 270deg;
      }
    }
  }
}

.dropdown-menu {
  background-color: transparent !important;
  border: 0 !important;
  &:hover{
    background-color: transparent !important;
  }
}

.close-menu {
  font-size: 3rem;
  cursor: pointer;
}

.menu-header {
  margin-bottom: 15px;
}


.search-container {
  position: absolute;
  flex-direction: column;
  z-index: 3;

  &.show{
    display: flex;
  }
  border-top: 1px solid $primary-hover;
}


.navbar {
  @include media-breakpoint-down(sm){
    width: 100% !important;
    left: 0 !important;
  }
}

.dropdown-item{
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-left: 10px;
  }
  &:hover{
    color: $white;
    &::after{
      opacity: 1;
    }
  }
}
